.add-todo-btn {
  border: none;
  height: 2.5rem;
  background-color: lightgreen;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
}

.add-todo-btn:hover {
  background-color: rgb(108, 185, 108);
}

.add-todo-btn:active {
  background-color: lightgreen;
}

.todo-item-priority {
  border: none;
  background-color: #fbb45f;
  padding: 5px 0;
}

.todo-item-priority:focus {
  outline: none;
}