.todo-item {
  background-color: cornsilk;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.details-btn {
  cursor: pointer;
  background-color: rgba(173, 216, 230, 0.713);
  border: none;
  border-radius: 5px;
  height: 30px;
}

.details-btn:hover {
  background-color: rgba(173, 216, 230, 0.926);
}

.details-btn:active {
  background-color: rgba(173, 216, 230, 0.713);
}

.todo-done {
  background-color: rgba(148, 210, 148, 0.606);
}

.todo-done>p {
  text-decoration: line-through;
}