.todo-item-priority {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.todo-item-priority * {
    font-weight: 500;
}

.todo-item-priority > select {
    border: none;
    background-color: #fbb45f;
    padding: 5px 0;
}