@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');

.addTodo {
  font-family: 'Josefin Sans', sans-serif;
}

.addTodo * {
  font-family: inherit;
}

.addTodo h3 {
  margin: 10px 0;
  text-align: center;
}

.addTodo > form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: medium;
}

.addTodo > form > input {
  font-size: 1rem;
  color: rgb(100, 100, 100);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid darksalmon;
}

.addTodo > form > input::placeholder, .addTodo > form > textarea::placeholder {
  color: rgb(100, 100, 100);
  font-size: medium;
}

.addTodoBtn {
  border: none;
  height: 2.5rem;
  background-color: lightgreen;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
}

.addTodoBtn svg {
  vertical-align: -7px;
  margin-right: 4px;
}

.addTodoBtn:hover {
  background-color: rgb(108, 185, 108);
}

.addTodoBtn:active {
  background-color: lightgreen;
}

.desc {
  border: none;
  min-height: 6rem;
  background-color: rgba(58, 58, 58, 0.164);
}

.desc:focus {
  outline: none;
}