@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.385);
  z-index: 99;
}

.modal-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(98%, 40rem);
  border-radius: 10px;
  background-color: rgb(250, 222, 161);
  z-index: 100;
  font-family: 'Josefin Sans', sans-serif;
}

.modal-body > form {
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: medium;
}

.modal-body * {
  font-family: inherit;
}

.modal-body h3 {
  margin: 10px 0;
  text-align: center;
}