ul {
  list-style: none;
}

.todolist-body {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: bisque cornsilk;
  height: 100%;
  padding: 0;
  margin: 0;
}

.todolist-body::-webkit-scrollbar {
  width: 8px;
}

.todolist-body::-webkit-scrollbar-track {
  background-color: cornsilk;
}

.todolist-body::-webkit-scrollbar-thumb {
  background-color: bisque;
}

.todolist-body ul {
  display: flex;
  flex-direction: column;
}
