.header {
    width: 100%;
    padding: 16px 14px;
    height: 80px;
    display: flex;
    align-items: center;
}

.header-text {
    margin: 0 auto;
}

.sidebar-btn {
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}