.editItemBody,
.editItemBtns {
  display: flex;
  flex-direction: column;
}

.editItem {
  width: 20rem;
}

.editItemBody {
  padding: 1rem;
  gap: 0.5rem;
}

.editItemBody > input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid darksalmon;
}

.editItemBtns {
  gap: 0.5rem;
}

.editItemBtns button {
  border: none;
  height: 2rem;
  border-radius: 10px;
}

.editItemBtns button > svg {
  vertical-align: -7px;
}

.saveBtn {
  background-color: lightgreen;
  box-shadow: 1px 1px 3px rgba(172, 172, 172, 0.712);
}

.saveBtn:hover {
  background-color: rgb(118, 199, 118);
}

.saveBtn:active {
  background-color: lightgreen;
}

.setDoneOrNotDone {
  background-color: lightblue;
}

.setDoneOrNotDone:hover {
  background-color: rgb(141, 186, 201);
}

.setDoneOrNotDone:active {
  background-color: lightblue;
}

.deleteBtn {
  background-color: indianred;
  box-shadow: 1px 1px 3px rgba(226, 154, 154, 0.856);
}

.deleteBtn:hover {
  background-color: rgb(182, 81, 81);
}

.deleteBtn:active {
  background-color: indianred;
}
