.inputfield, .textArea {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-weight: 500;
}

.inputfield label, .textArea label {
  font-size: 1.2rem;
}

.inputfield>input, .textArea>textarea {
  font-size: 1rem;
  font-weight: inherit;
  color: black;
}

.inputfield>input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid darksalmon;
}

.inputfield>input::placeholder {
  color: rgb(100, 100, 100);
  font-size: medium;
}