@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Shizuru", cursive;
  margin-bottom: 2rem;
}

.main {
  box-shadow: -2px 2px 5px darkgray;
  margin: 0 auto;
  border: 2px solid lightyellow;
  border-radius: 10px 10px 0 0;
  width: 30rem;
  height: 30rem;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}
