@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

h1 {
  font-size: 3rem;
  font-family: "Shizuru", cursive;
}

main {
  --min-width: 30rem;
  --min-height: 30rem;

  resize: both;
  overflow: hidden;
  box-shadow: -2px 2px 5px darkgray;
  margin: 0 auto;
  border: 2px solid lightyellow;
  border-radius: 10px 10px 0 0;
  width: var(--min-width);
  height: var(--min-height);
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

#signIn-btn {
  font-weight: bold;
  color: brown;
  display: flex;
  align-items: center;
  border-color: transparent;
}
