@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#root,
.App {
  height: 100%;
}

input:focus {
  outline: none;
}

body {
  height: 100%;
  background: #eacda3;
  background: -webkit-linear-gradient(to right,
      #d6ae7b,
      #eacda3);
  background: linear-gradient(to right,
      #d6ae7b,
      #eacda3);
}

button {
  cursor: pointer;
}