.todolist-header-outer {
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
}

.todolist-header {
  padding: 2px;
  border-radius: 10px 10px 0 0;
  height: 3rem;
  background-color: bisque;
}

@media screen and (max-width: 320px) {
  .todolist-header {
    padding: 2px 0px;
    justify-content: space-around;
  }
}